/Clase Arreglo/nbproject/private/
/Clase Arreglo/build/
/MetodoBiseccion/nbproject/private/
/MetodoBiseccion/build/
/Tarea 3/nbproject/private/
/Tarea 3/build/
/Tarea 4/nbproject/private/
/Tarea 4/build/
/Tarea 5/nbproject/private/
